doctype html
html
    head
        title Index Page
    body
        //jade String
        #header
            h1 Hello World!
        .article
            h2 Sophiechan peropero
        hr
        .link
            a(href="http://prelude.iptime.org") Go to owncloud

